// --------------------------------------------
// GLOBAL NORMALISER
// --------------------------------------------

*,*:before,*:after{box-sizing:border-box;}
div,main,article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;margin:0;padding:0;}
//audio,canvas,video{display:inline-block;}
::selection { background: #bebebe; color: #333;text-shadow: none;}
::-moz-selection {background: #bebebe; color: #333;text-shadow: none;}
::-webkit-selection {background: #bebebe; color: #333;text-shadow: none;}
html{font-size:100%; text-size-adjust:100%; overflow-x:hidden;}
nav ul{list-style:none; padding:0}
a{text-decoration:none;}
iframe,object,embed,img{border:0; max-width:100%}
abbr{border-bottom:1px dotted #666; cursor:help}
address{font-style:normal;}
strong{font-weight:400;}
i,em{font-style:italic;}